
<style>


/*mini-site full width glitch*/
.the-first-thing {
	doesnt: render;
}



#BodyContainer > div > div.g960 > div > div.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.no_margin.g960.no_margin > div > div:nth-child(4) > div > div > div.widget_header > h5, #BodyContainer > div > div.g960 > div > div.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.no_margin.g960.no_margin > div > div.hp-row.hp_subscribe > div > div > div.widget_header > h5{
    text-transform: capitalize !important;
}
/*making some elements a different font*/
.widget-4 .bottom_padding, .cycle-caption :not(big, a){
    font-family: 'Roboto Slab', sans-serif !important;
    }

    .co_body .content .form-all, .co_body .content p, .co_body h1, .co_body h1 a, .co_body h2, .co_body h2 a, .co_body h3, .co_body h3 a, .co_body h4, .co_body h4 a, .co_body h5, .co_body h5 a, .co_body h6, .co_body h6 a, .cps-container h1, .cps-container h2, .cps-container p, .form-all, a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, html body.cco_body, html body.cco_body p, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, pre, q, ruby, s, samp, section, small, strike, strong, sub, summary, sup, table, tfoot, time, tt, u, ul, var, video{
font-family: 'Maven Pro', sans-serif !important;
text-transform:none !important;
}

/*mini-site*/
/*mitzva society*/

.sPromo-flex{
    flex:1 1 200px !important;
}

.custom_message:has(.mitzva) .title{
    color:#001d44 !important;
}
.indexsection:has(.mitzva) .title{
    color:#001d44 !important;
}

/*remove polka dots*/
.cco_templateless_page #chabad_main_content{
    background-image:none !important;
}
/*promo round and remove transparent rectangle*/
/*.sPromo-flex{
    border-radius:50% !important;
    }*/
    .sPromo-wrap .caption {
        background:none !important;
    }
    .sPromo-flex{
        border:none !important;
        max-height:450px !important;
    }
/*custom mini banners */
    .custom-mini-banner .mini-banner-1, .custom-mini-banner .mini-banner-2 {
        border-radius:50px !important;
        background-color: #f5dbcf !important;
        color:#38254c !important;
    }
    .custom-mini-banner .banner-box .title{
        font-size:22px !important;
    }
    /*upcoming events rounded and soft pink*/
    .co_calendar_text{
        border-radius:100px !important;
        background-color: #f5dbcf !important;
        color:#38254c !important;
    }
    /*footer*/
    .footer{
        background-color: #ff6b57 !important;
        color:#FFF !important;
    }
    /*buttons*/
    .read-more_link a{
        border-radius:50px !important;
        border:2px solid #ff6b57 !important;
    }
    /*headers mini site*/
#ContentBody > div.content-area-parent.no_margin > div.indexsection.custom_message.clearfix > div.title.titleIcon, .custom_message:has(.women) .title, custom_message .title,  .co_calendar_head, .prepResource-title, .indexsection .title, #co_calendar > div.co_calendar_head > div{
    font-weight:bold !important;
    color:#ff6b57 !important;
    letter-spacing: 2px !important;
    font-family:'Maven Pro', sans-serif !important;
}
/*size of letters in comments*/
.desc *{
    font-size:20px !important;
}
/*banner in mobile centered*/
@media (max-width: 1024px){

.custom-mini-banner *{
    text-align: center !important;
}

}
@media (max-width: 1024px){
    body.section_root .bh{
        right:45% !important;
        top:264px !important;
    }
    #co_content_container .co_body img{
        height:100% !important;
    }
}
